.catalog {
  margin-left: 20px;
  margin-right: 20px;
}

.main-container__title {
  .font();
  margin-top: 0;
  margin-bottom: 41px;
  padding: 27px 20px 0 20px;
  font-size: 36px;
  line-height: 36px;
}

.extra-products__title {
  .font();
  margin-top: 0;
  margin-bottom: 36px;
  padding-top: 25px;
  font-size: 24px;
  line-height: 24px;
}

.catalog__list {
  .list();
}

.more-products__title {
  .font();
  margin-top: 0;
  margin-bottom: 8px;
  padding: 0;
  padding-top: 50px;
  font-size: 16px;
  line-height: 20px;
}

.more-products__slogan {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 21px;
}
