.cooperation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px 26px 20px;
}

.cooperation__title {
  margin: 0;
  width: 140px;
  .font();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__adress {
  margin: 0;
  .font-text();
  font-size: 14px;
  width: 150px;
  line-height: 20px;
  font-style: normal;
  color: @color-dark-grey;
}

.cooperation-grey {
  background-color: @color-grey;
}
