.cooperation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 20px;

  @media (min-width: @tablet-width) {
    padding: 56px 70px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 115px;
    left: 20px;
    width: 570px;
    z-index: 1;
    background-color: @color-white;
  }
}

.cooperation__title {
  margin: 0;
  width: 140px;
  .font();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__adress {
  margin: 0;
  .font-text();
  font-size: 14px;
  width: 150px;
  line-height: 20px;
  font-style: normal;
  color: @color-dark-grey;
}

.cooperation--grey {
  background-color: @color-grey;
}

.cooperation--white {
  background-color: @color-white;
}
