.example__title {
  margin-top: 0;
  margin-bottom: 42px;
  .font();
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
    margin-bottom: 150px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 18px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 500px;
  }
}

.example__list {
  .list();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
  gap: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    gap: 0;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
    margin-bottom: 20px;
  }
}

.example__stats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  min-height: 56px;
  box-sizing: border-box;
  border: 1px solid @color-example-border;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
    width: 162px;
    height: 72px;
  }
}

.example__stats-value {
  margin: 0;
  .font();
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-mark {
  position: absolute;
  top: 85%;
  margin: 0;
  padding: 0 14px;
  width: 60px;
  font-size: 12px;
  line-height: 12px;
  color: @color-dark-grey;
  background-color: @color-grey;
  text-transform: lowercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: @color-white;
    top: 90%;
    width: auto;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: @desktop-width) {
    background-color: @color-grey;
  }
}

.example__costs {
  text-align: center;
  .font();
  font-size: 14px;
  line-height: 20px;
  margin-bottom: -10px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-align: right;
    text-transform: uppercase;
    margin-right: -20px;
    line-height: 30px;
    margin-top: 5px;
  }

  @media (min-width: @desktop-width) {
    margin-right: auto;
  }
}

.example__cost-position {
  letter-spacing: 0.6px;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-right: 60px;
    width: auto;
  }
}

.example__row {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }
}

.example--center {
  margin: 20px;
  margin-top: 50px;

  @media (min-width: @tablet-width) {
    margin: 30px;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
    width: 1400px;
  }
}

.example {
  position: relative;
  display: grid;
  gap: 32px;
  padding: 25px 0;
  padding-bottom: 38px;

  @media (min-width: @tablet-width) {
    --bg-top-shift: calc(94% - 400px);
    gap: 105px;
    padding-top: 14px;
    margin-left: 10px;
    padding-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    --bg-top-shift: 236px;
    grid-template-columns: auto 560px;
    gap: 224px;
    padding: 70px 0;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    top: var(--bg-top-shift, 0);
    width: 100vw;
    background-color: @color-grey;
    box-shadow: 100vw 0 0 0 @color-grey;
  }
}

.example__compare {
  margin: 0 auto;
  align-self: start;
  justify-self: center;

  @media (min-width: @tablet-width) {
    margin-right: 20px;
  }
}

.example__slider {
  margin: 0 auto;
}

.example__container {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}
