.example {
  background-color: @color-example-grey;

  @media (min-width: @tablet-width) {
    background-color: @color-white;
    background-image: linear-gradient(to bottom, transparent 60%, @color-grey 60%);
    margin: -20px;
  }

  @media (min-width: @desktop-width) {
    background-image: linear-gradient(to bottom, transparent 20%, @color-grey 20%);
  }
}

.example__wrapper {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 40px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.example__container {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 150px;
    width: 450px;
  }
}

.example__title {
  margin-top: 0;
  margin-bottom: 33px;
  padding-top: 27px;
  .font();
  font-size: 36px;
  line-height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 25px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }
}

.example__list {
  .list();
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 34px;
  gap: 30px;
}

.example__stats {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 124px;
  height: 56px;
  box-sizing: border-box;
  border: 1px solid @color-example-border;
  border-radius: 3px;

  @media (min-width: @tablet-width) {
    margin-right: 42px;
    width: 162px;
    height: 72px;
  }
}

.example__stats-value {
  margin: 0;
  .font();
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__stats-mark {
  position: absolute;
  top: 85%;
  margin: 0;
  padding: 0 14px;
  width: 60px;
  font-size: 12px;
  line-height: 12px;
  color: @color-dark-grey;
  background-color: @color-example-grey;
  text-transform: lowercase;
  text-align: center;

  @media (min-width: @tablet-width) {
    background-color: @color-white;
    top: 90%;
    width: auto;
    padding: 0 7px;
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: @desktop-width) {
    background-color: @color-grey;
  }
}

.example__costs {
  text-align: center;
  .font();
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
  }
}

.example__cost-position {
  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: inline-block;
    margin-right: 60px;
  }
}
