.extra-products__list {
  .list();

  @media (min-width: @desktop-width) {
    margin-bottom: 86px;
    margin-right: 79px;
    min-width: 896px;
  }
}

.extra-products__title {
  .font();
  margin-top: 0;
  margin-bottom: 36px;
  padding-top: 25px;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}

.extra-products {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 110px;
  }
}

.extra-product {
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid @color-example-border;

  &:last-child {
    padding-top: 25px;
    border-bottom: 1px solid @color-example-border;

    @media (min-width: @desktop-width) {
      padding-top: 15px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 26px 38px 28px;
    border-left: 1px solid @color-example-border;
    border-right: 1px solid @color-example-border;
  }

  @media (min-width: @desktop-width) {
    border-left: none;
    border-right: none;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.extra-product__subtitle {
  margin-top: 0;
  margin-bottom: 13px;
  .font();
  font-size: 16px;
  line-height: 16px;
  color: @color-product-black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.extra-product__form,
.extra-product__price {
  display: inline-block;
  margin: 0;
  padding-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  color: @color-dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.extra-product__price {
  @media (min-width: @tablet-width) {
    padding-left: 50px;
  }
}

.extra-products__container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.extra-product__card {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    min-width: 600px;
  }
}

.extra-product__row {
  display: flex;
  justify-content: space-between;
}

.extra-product__link {
  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
}
