.features__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 49px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 38px;
  .font();
  font-size: 36px;
  line-height: 40px;
}

.features__list {
  .list();
}

.features__item {
  color: @color-dark-grey;
  font-size: 14px;
  line-height: 18px;
  padding: 0 0 0 80px;
}
