.form {
  padding: 20px;
  padding-top: 0;
  .font();
  font-size: 16px;
  line-height: 18px;
  color: @color-dark-grey;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 82px;
  }
}

.form__list {
  .list();
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    padding-right: 47px;
    padding-left: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.form__item {
  display: flex;
  position: relative;
  align-items: center;
  margin-bottom: 17px;

  @media (min-width: @tablet-width) {
    margin-bottom: 20px;
  }

  &&--radio {
    margin-bottom: 30px;
  }

  &&:last-child {
    margin-bottom: 24px;
  }
}

.form__block-subtitle {
  .font();
  color: @color-black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.form__submit-note {
  .font-text();
  display: flex;
  justify-content: center;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-right: 157px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 15px;
  }
}

.form__fieldset {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 25px;

  @media (min-width: @desktop-width) {
    padding-bottom: 30px;
  }

  &&--checkbox {
    margin-top: 20px;
  }
}

.form__list--radio-group {
  padding: 30px 10px 6px 20px;
  border-top: 1px solid @color-light-grey;
  border-bottom: 1px solid @color-light-grey;
  margin: 0;
  margin-left: -20px;

  @media (min-width: @tablet-width) {
    border: 1px solid @color-light-grey;
    margin: 75px 72px 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.form__icon-tel,
.form__icon-email {
  position: absolute;
  top: 11px;
  right: 13px;
  width: 20px;
  height: 21px;

  @media (min-width: @desktop-width) {
    right: 17px;
    top: 15px;
  }
}

.form__contacts-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__comments-input {
  .font();
  color: @color-dark-grey;
  font-size: 20px;
  line-height: 30px;
  box-sizing: border-box;
  padding: 9px 15px 9px 12px;
  width: 100%;
  min-height: 150px;
  border: 1px solid @color-grey-form;
  resize: none;
  outline: 0;
  flex-grow: 1;
  margin: 0;
  align-items: center;
  margin-top: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 87px;
    min-height: 174px;
  }

  &::placeholder {
    .font();
    color: @color-dark-grey;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 18px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__submit-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 282px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
  }
}

.form__list--extra {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 56px;
    row-gap: 15px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    margin-bottom: -27px;
  }
}

.form__list--contact {
  padding-top: 46px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 89px;
    padding-left: 70px;
    padding-right: 50px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    margin-right: 0;
    padding-left: 112px;
    padding-right: 112px;
  }
}

.form__submit {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
    padding: 0;
    padding-left: 71px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    padding-right: 347px;
    padding-left: 111px;
  }
}

.form__data-input,
.form__contacts-input,
.form__input-tel {
  .font();
  color: @color-dark-grey;
  font-size: 20px;
  line-height: 30px;
  margin-left: 12px;
  padding: 16px 10px 9px 20px;
  flex-grow: 1;
  border: 1px solid @color-grey-form;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-left: 21px;
    padding: 20px 18px 14px;
  }

  @media (min-width: @desktop-width) {
    padding: 14px 20px 5px;
    line-height: 30px;
    margin-left: 14px;
  }

  &:invalid {
    border: 1px solid @color-error;
    box-shadow: 0 0 0 1px @color-error;
  }

  &:hover {
    border: 1px solid @color-example-border;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid @color-dark-grey;
    box-shadow: 0 0 0 1px @color-dark-grey;
    outline: none;
  }

  &::placeholder {
    .font();
    color: @color-dark-grey;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__label {
  display: flex;
  vertical-align: middle;
  margin-right: 13px;
  cursor: pointer;
  position: relative;
  padding-left: 50px;
  margin-bottom: -6px;

  @media (min-width: @tablet-width) {
    padding-left: 69px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 59px;
  }
}

.form__input-radio + .form__label--radio::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @color-example-border;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: -10px;
    width: 40px;
    height: 40px;
    left: 7px;
  }
}

.form__input-radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 14px;
  height: 14px;
  background-color: @color-green;
  border-radius: 50%;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: 1px;
    left: 18px;
    width: 18px;
    height: 18px;
  }
}

.form__label--radio:hover::before,
.form__input-radio:focus + .form__label--radio::before {
  border: 1px solid @color-radio;
}

.form__input-radio:disabled,
.form__input-radio:disabled + .form__label--radio,
.form__input-checkbox:disabled,
.form__input-checkbox:disabled + .form__label--checkbox {
  opacity: 0.3;
}

.form__radio {
  padding-left: 45px;
}

.form__input-checkbox + .form__label--checkbox::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid @color-example-border;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: -5px;
    width: 40px;
    height: 40px;
  }
}

.form__input-checkbox:checked + .form__label--checkbox::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 19px;
  height: 15px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    top: 7px;
    left: 11px;
  }
}

.form__label--checkbox:hover::before,
.form__input-checkbox:focus + .form__label--checkbox::before {
  border: 1px solid @color-radio;
}

.form__legend {
  background: @color-white;
  position: relative;
  box-sizing: border-box;
  display: flex;
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
  text-transform: initial;
  min-height: 60px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 70px;
  }
}

.form__fieldset--text-group {
  box-sizing: border-box;
  border-bottom: 2px solid @color-green;
  padding-bottom: 41px;
  margin-right: -20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 98px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 100%;
    padding-left: 111px;
    padding-right: 111px;
    padding-bottom: 69px;
  }
}

.form__fieldset--contact-group,
.form__fieldset--comment-group {
  border-bottom: 2px solid @color-green;
  padding-bottom: 17px;
  margin-right: -20px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-bottom: 65px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.form__fieldset--comment-group {
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-bottom: 51px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 55px;
  }
}

.form__legend--contact,
.form__legend--comment,
.form__legend--extra {
  background: @color-white;
  display: inline-block;
  padding: 0 40px;
  position: absolute;
  top: -40px;
  left: -150px;
  margin-left: 110px;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    top: -25px;
    left: -80px;
    width: unset;
  }

  @media (min-width: @desktop-width) {
    left: -39px;
  }
}

.form__legend--extra {
  min-width: 200px;

  @media (min-width: @tablet-width) {
    top: -42px;
  }
}

.form__legend--contact {
  display: block;
  width: 50%;
  min-width: 263px;

  @media (min-width: @tablet-width) {
    width: unset;
  }
}

.wrapper--extra {
  margin-top: 27px;

  @media (min-width: @tablet-width) {
    margin-top: 54px;
  }
}

.wrapper--comment,
.wrapper--extra {
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 30px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0 113px;
  }
}

.wrapper--comment {
  @media (min-width: @tablet-width) {
    padding: 0 70px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 113px;
  }
}

.form__item--checkbox {
  margin-bottom: 30px;
}

.form__fieldset--checkbox {
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
  }
}

.form__contacts-input:invalid + .form__icon-email {
  color: @color-error;
}

.form__input-tel:invalid + .form__icon-tel {
  color: @color-error;
}

.form__contacts-input:hover + .form__icon-email {
  color: @color-product-black;
}

.form__contacts-input:focus + .form__icon-email {
  color: @color-green;
}

.form__input-tel:hover + .form__icon-tel {
  color: @color-product-black;
}

.form__input-tel:focus + .form__icon-tel {
  color: @color-green;
}

.form__label--checkbox {
  @media (min-width: @tablet-width) {
    min-width: 133px;
  }
}
