.form {
  padding: 20px;
  padding-top: 0;
  .font();
  font-size: 16px;
  line-height: 18px;
  color: @color-dark-grey;
  text-transform: uppercase;
}

.form__list {
  .list();
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__block-subtitle {
  .font();
  color: @color-black;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
}

.form__checkbox-label {
  color: @color-black;
}

.form__submit-note {
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
  margin-bottom: 25px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.form__fieldset--text-group {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__list--radio-group {
  padding: 20px;
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid @color-light-grey;
  border-bottom: 1px solid @color-light-grey;

  @media (min-width: @tablet-width) {
    border: 1px solid @color-light-grey;
    margin: 0;
  }
}

.form__icon-tel,
.form__icon-email {
  position: absolute;
  top: 11px;
  right: 13px;
  width: 20px;
  height: 21px;

  @media (min-width: @desktop-width) {
    right: 17px;
  }
}

.form__contacts-label {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.form__legend {
  box-sizing: border-box;
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 100%;
  .font();
  font-size: 24px;
  line-height: 26px;
  color: @color-black;
}

.form__comments-input {
  padding: 9px 15px 9px 12px;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid @color-grey-form;
  resize: none;
  outline: 0;
  box-sizing: border-box;
}

.form__submit-button {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 21px;
  width: 100%;
  font-size: 16px;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 62px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 282px;
    font-size: 20px;
    line-height: 26px;
  }
}

.form__list--extra {
  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    row-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    margin-bottom: 60px;
  }
}

.form__list--contact {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.form__submit {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 72px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }
}

// .form__data-label {
//   padding-right: 13px;
// }

.form__comments-input,
.form__data-input,
.form__contacts-input,
.form__input-tel {
  padding: 12px 31px 13px 15px;
  flex-grow: 1;
  border: 1px solid @color-grey-form;
  text-transform: uppercase;
  margin-left: 12px;

  @media (min-width: @tablet-width) {
    padding: 12px 18px 14px;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 20px 11px;
    line-height: 30px;
  }

  &:invalid {
    border: 1px solid @color-grey-form;
  }

  &:hover {
    border: 1px solid @color-example-border;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid @color-dark-grey;
    box-shadow: 0 0 0 1px @color-dark-grey;
    outline: none;
  }

  &::placeholder {
    .font();
    color: @color-dark-grey;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
  }
}

.form__input--error:invalid {
  border: 1px solid @color-error;
  box-shadow: 0 0 0 1px @color-error;
  padding: 12px 31px 13px 15px;
  flex-grow: 1;
  text-transform: uppercase;
  margin-left: 12px;

  @media (min-width: @tablet-width) {
    padding: 12px 18px 14px;
  }

  @media (min-width: @desktop-width) {
    padding: 9px 20px 11px;
    line-height: 30px;
  }

  &:hover {
    border: 1px solid @color-example-border;
    box-shadow: none;
  }

  &:focus {
    border: 1px solid @color-dark-grey;
    box-shadow: 0 0 0 1px @color-dark-grey;
    outline: none;
  }

  &::placeholder {
    .font();
    color: @color-dark-grey;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
  }
}
