.intro {
  position: relative;
  .font();
  box-sizing: border-box;

  @media (min-width: @tablet-width) and (max-width: @desktop-width) {
    &::before,
    &::after {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    min-height: 302px;
    background-color: fadeout(@color-green, 15);
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 302px;
    background-image: url("../img/background-cat-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: inherit;
    background-color: @color-dark-grey;
    z-index: -2;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background-cat-mobile@2x.jpg");
      background-size: contain;
    }
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 100px;
  }

  @media (min-width: @desktop-width) {
    &::before {
      top: 0;
      right: 0;
      width: 50%;
      height: 696px;
      background-color: fadeout(@color-green, 15);
      z-index: -1;
    }

    &::after {
      top: 0;
      right: -50%;
      width: 50%;
      height: 696px;
      background-image: url("../img/background-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-position: right top;
      background-color: @color-dark-grey;
      z-index: -2;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/background-cat-desktop@2x.jpg");
        background-size: contain;
      }
    }
  }
}

.intro__wrapper {
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    min-height: 750px;
  }
}

.intro__title {
  color: @color-white;
  padding-top: 27px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 25px;
  margin-top: 0;

  @media (min-width: @tablet-width) {
    color: @color-black;
    text-align: start;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 41px;
  }
}

.intro__slogan {
  margin-top: 0;
  margin-bottom: 28px;
  line-height: 14px;
  color: @color-white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    color: @color-black;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
  }
}

.intro__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 10%;
    z-index: -1;
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    top: 140px;
    left: 40%;
    width: 552px;
    height: 499px;
  }
}

.intro__link {
  @media (min-width: @tablet-width) {
    display: inline-block;
    padding: 15px 26px;
    margin-left: 100px;
    font-size: 20px;
    line-height: 20px;
  }
}

.intro__text {
  @media (min-width: @tablet-width) {
    margin-left: 100px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    padding-top: 90px;
    max-width: 1440px;
  }
}

.intro__link-wrapper {
  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}
