.main-header {
  .font-medium();
  position: relative;
  min-width: 320px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0 110px;
    max-width: 1220px;
  }
}

.main-header__logo-title-image {
  margin-left: 60px;
  vertical-align: super;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
