.main-footer__container {
  background-color: @color-grey;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.cooperation-grey {
  background-color: @color-grey;
}
