.main-footer {
  background-color: @color-grey;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    padding: 30px 58px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    max-width: 1440px;
  }
}

.main-footer__wrapper {
  position: relative;
}

.main-footer__map {
  border: none;
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

.main-footer__map iframe {
  position: absolute;
  display: block;
  border: none;
}

.main-footer__logo {
  padding-top: 39px;
  padding-bottom: 27px;
}

.main-footer__copy {
  width: 85%;
  padding-top: 28px;
  padding-bottom: 31px;

  @media (min-width: @tablet-width) {
    width: 200px;
  }
}

.main-footer__copy-link {
  display: flex;
  .font-text();
  font-size: 16px;
  line-height: 19px;
  color: @color-dark-grey;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

.main-footer__social {
  padding-top: 20px;
  padding-bottom: 16px;
  width: 100%;
  border-top: 1px solid @color-light-grey;
  border-bottom: 1px solid @color-light-grey;

  @media (min-width: @tablet-width) {
    width: 100px;
  }
}
