.main-nav {
  position: relative;
  padding: 10px 0 0 20px;
  z-index: 1;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 35px;
    padding-top: 0;
    padding-left: 30px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 1440px;
  }
}

.main-nav__list {
  .list();
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: 20px;
  line-height: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 33px;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    padding-top: 22px;
    padding-bottom: 24px;
    border-top: 1px solid @color-border;
  }
}

.main-nav__item-link {
  .font-medium();
  display: inline-block;
  color: @color-black;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  background-color: @color-white;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav__item-link--white {
  @media (min-width: @desktop-width) {
    color: @color-white;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 22px;
  right: 21px;
  width: 24px;
  height: 2px;
  background-color: @color-black;
  box-shadow: 0 8px 0 0 @color-black, 0 16px 0 0 @color-black;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: fade(@color-black, 30%);
  box-shadow:
    0 8px 0 0 fade(@color-black, 30%),
    0 16px 0 0 fade(@color-black, 30%);
}

.main-nav--opened .main-nav__toggle {
  &::before,
  &::after {
    content: "";
    position: absolute;
    cursor: pointer;
    top: 31px;
    right: 20px;
    width: 24px;
    height: 2px;
    background-color: @color-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(@color-black, 30%);
  }
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
    padding-right: 0;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    background-color: @color-white;
    width: 100%;
    margin-left: -20px;
  }
}

.main-nav__item--active {
  @media (min-width: @tablet-width) {
    border-bottom: 2px solid @color-green;
  }
}

.main-nav__item-link--index-current {
  @media (min-width: @desktop-width) {
    border-bottom: 2px solid @color-white;
  }
}
