.main-header {
  .font-medium();
  position: relative;
  min-width: 297px;

  @media (max-width: @mobile-width-only) {
    border-bottom: 1px solid @color-light-grey;
  }
}

.main-header__logo-title-image {
  margin-left: 60px;
  vertical-align: super;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-header__logo {
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
