.programs__list {
  .list();

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    min-height: 374px;
  }
}

.programs__item {
  background-color: @color-grey;

  @media (min-width: @tablet-width) {
    min-height: 372px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.programs__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 27px;

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
  }
}

.programs__item-title {
  .font();

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 30px 20px 0 90px;
}

.programs__item-description {
  color: @color-dark-grey;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 33px;
}

.programs__item-link {
  .font();
  position: relative;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 16px;
  color: @color-black;
  text-transform: uppercase;
  border-top: 1px solid @color-light-grey;
  text-decoration: none;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    border-top: none;
  }
}
