.programs__list {
  .list();
  position: relative;

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    min-height: 374px;
  }
}

.programs__item {
  position: relative;
  background-color: @color-grey;

  @media (min-width: @tablet-width) {
    min-height: 372px;
    padding-left: 53px;
  }

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.programs__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 10px;
    margin-right: 10px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    padding: 0;
    max-width: 1440px;
    margin-bottom: 50px;
  }
}

.programs__item-title {
  .font();

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding: 25px 20px 6px 90px;

  &::before {
    content: "";
    position: absolute;
    top: 21px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @color-green;
    border-radius: 50%;

    @media (min-width: @tablet-width) {
      top: 92px;
      left: auto;
      right: 62px;
      width: 200px;
      height: 200px;
    }

    @media (min-width: @desktop-width) {
      top: 47px;
      left: 52px;
      right: auto;
      width: 100px;
      height: 100px;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 77px 0 0 0;
    font-size: 36px;
    line-height: 36px;
    color: @color-black;
    margin-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 93px;
    padding: 20px 51px 0 214px;
  }
}

.programs__item--slim {
  &::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 29px;
    width: 36px;
    height: 50px;
    background-image: url("../img/cat-slim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 81px;
      right: 92px;
      left: auto;
      width: 142px;
      height: 192px;
    }

    @media (min-width: @desktop-width) {
      top: 41px;
      left: 67px;
      right: auto;
      width: 70px;
      height: 92px;
    }
  }
}

.programs__item--pro {
  &::after {
    content: "";
    position: absolute;
    top: 31px;
    left: 14px;
    width: 67px;
    height: 28px;
    background-image: url("../img/cat-fat.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    @media (min-width: @tablet-width) {
      top: 130px;
      right: 28px;
      left: auto;
      width: 268px;
      height: 112px;
    }

    @media (min-width: @desktop-width) {
      top: 67px;
      left: 33px;
      right: auto;
      width: 134px;
      height: 56px;
    }
  }
}

.programs__item-description {
  color: @color-dark-grey;
  font-size: 14px;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 23px;
  padding-left: 20px;
  padding-right: 33px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-right: 285px;
    color: @color-black;
    font-size: 16px;
    line-height: 24px;
    min-height: 96px;
    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
  }
}

.programs__item-link {
  .font();
  position: relative;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 16px;
  color: @color-black;
  text-transform: uppercase;
  border-top: 1px solid @color-light-grey;
  text-decoration: none;

  @media (min-width: @tablet-width) or (min-width: @desktop-width) {
    border-top: none;
  }

  @media (min-width: @tablet-width) {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 100px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-arrow.svg");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      top: 30px;
      left: 130px;
    }
  }

  &:hover::after,
  &:focus::after {
    background-image: url("../img/icon-arrow-big.svg");
  }

  &:active::after,
  &:active {
    opacity: 0.3;
  }
}
