.promo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 35px;
  padding-top: 45px;
  background-image: url("../img/promo-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 300px;
  margin-bottom: 35px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-photo-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    background-image: url("../img/promo-photo-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    min-width: 283px;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    background-image: url("../img/promo-photo-desktop.jpg");
  }
}

.promo__title {
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;
}

.promo__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 60px;
  }
}
