.promo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 38px;
  padding-top: 57px;
  background-image: url("../img/promo-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: 300px;
  margin-bottom: 23px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo-photo-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: start;
    background-image: url("../img/promo-photo-tablet.jpg");
    margin-top: 68px;
    justify-content: space-between;
    margin-bottom: -24px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/promo-photo-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    justify-content: start;
    min-width: 244px;
    margin-top: 0;
    margin-bottom: 35px;
    text-align: center;
    background-image: url("../img/promo-photo-desktop.jpg");
  }
}

.promo__title {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: @color-white;

  @media (min-width: @tablet-width) {
    align-self: start;
    margin: 0;
    padding-top: 15px;
    text-align: left;
    padding-right: 124px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 46px;
    align-self: center;
    padding-right: 0;
    text-align: center;
  }
}

.promo__icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    align-self: start;
    margin: 0;
    padding-left: 78px;
  }
}
